.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 1;
}
.mobile-menu {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 32px 50px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-200px);
  transition: 250ms transform;

  &.open {
    transform: translateY(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
    font-family: "Montserrat Alternates";
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}