.weather-info {
  &__item {
    padding: 15px 74px 30px;
    background-color: $dark-gray;
    border-radius: 10px;
    text-align: center;
  }
  &__text {
    font-weight: 500;
    font-size: 10px;
  }
  &__value {
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
  }
  &__icon {
    margin-top: 18px;
  }
}
.temp-container:last-child {
  margin-top: 22px;
}