.header {
  padding: 14px 0;
  position: relative;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.25);

  &--shadow {
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 34px;
    height: 22px;
  }
  .nav {
    display: none;
  }
  &__menu-btn {
    padding: 0;
    border: none;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    background-color: transparent;
  }
}
.auth {
  &__container {
    display: none;
  }
}
.arrow {
  position: relative;
  bottom: 2px;
  left: 5px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 250ms transform;

  &--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }
}
.avatar {
  width: 40px;
  height: 40px;
}
.auth {
  &__btn {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: $primary;
    font-family: "Montserrat Alternates";
    font-size: 10px;
  }
}