.header {
  padding: 14px 0;
  position: relative;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.25);

  &__container {
    display: flex;
    align-items: center;
    gap: clamp(15px, 7vw, 111px);
    justify-content: space-between;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 34px;
    height: 22px;
    @media screen and (min-width: 480px) {
      width: 54px;
      height: 36px;
    }
    @media screen and (min-width: 1200px) {
      width: 82px;
      height: 56px;
    }
  }
  .nav {
    display: none;
    @media screen and (min-width: 480px) {
      display: block;
      min-width: 150px;
      &-list {
        display: flex;
        justify-content: space-between;
        gap: clamp(10px, 2vw, 45px);
        @media screen and (min-width: 768px) {
          gap: clamp(10px, 5vw, 45px);
        }

        &__item {
          font-size: 10px;
          font-weight: 500;
          @media screen and (min-width: 1200px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  &__menu-btn {
    padding: 0;
    border: none;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    background-color: transparent;
    color: black;
    @media screen and (min-width: 480px) {
      display: none;
    }
  }
}
.auth {
  &__container {
    display: none;
    @media screen and (min-width: 480px) {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  &__btn {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: $primary;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    @media screen and (min-width: 480px) {
      padding: 10px 20px;
    }
  }
  &__img {
    width: 40px;
    height: 40px;
    @media screen and (min-width: 1200px) {
      width: 50px;
      height: 50px;
    }
  }
}
.arrow {
  position: relative;
  bottom: 2px;
  left: 5px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 250ms transform;

  &--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }
}