.header {
  padding: 14px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 34px;
    height: 22px;
  }
  .nav {
    display: none;
  }
  &__menu-btn {
    padding: 0;
    border: none;
    font-family: "Montserrat Alternates";
    font-size: 10px;
  }
}
.auth {
  &__container {
    display: none;
  }
}
.arrow {
  position: relative;
  bottom: 2px;
  left: 5px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}