.hero {
  padding: 50px 0 100px;
  color: white;
  background-image: url("../../assets/hero-mobile.jpg");
  background-size: cover;
  @media screen and (min-width: 480px) {
    background-image: url("../../assets/hero-desk.jpg");
    background-position: center;
    padding: 40px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 100px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    @media screen and (min-width: 480px) {
      font-size: 20px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 40px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 25px;
    border-left: 2px solid white;
    min-width: 161px;
    margin: 0 auto;
    margin-top: 35px;

    @media screen and (min-width: 480px) {
      border: none;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
      gap: 68px;
    }
  }

  &__text,
  &__date {
    font-size: 10px;
    font-weight: 500;

    @media screen and (min-width: 480px) {
      font-size: 14px;
    }
  }
  &__text  {
    @media screen and (min-width: 480px) {
      text-align: right;
      position: relative;
      width: 172px;
      &::after {
        content: '';
        position: absolute;
        right: -34px;
        top: 0;
        width: 2px;
        height: 110px;
        background-color: white;
      }
    }
  }
  &__date  {
    @media screen and (min-width: 480px) {
      text-align: left;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    height: 15px;
    gap: 2px;
    width: clamp(174px, 45vw, 625px);
    margin: 0 auto;
    margin-top: 48px;

    @media screen and (min-width: 480px) {
      margin-top: 64px;
      height: 27px;
    }
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $dark-gray;
    color: #878787;
    font-weight: 500;
    font-size: 6px;
    padding: 0;
    padding-left: 10px;

    @media screen and (min-width: 480px) {
      font-size: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &::placeholder {
      color: inherit;
    }
  }
  &__btn {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 3.6px;
    background-color: $primary;
    color: black;
    @media screen and (min-width: 480px) {
      font-size: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &__icon {
    width: 9px;
    height: 9px;
    @media screen and (min-width: 480px) {
      width: 16px;
      height: 16px;
    }
  }
}