.hourly-forecast {
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 1750px;

  &__title {
    font-weight: 600;
    font-size: 10px;
    padding-left: 25px;
  }
}
.recharts-text {
  font-weight: 500 !important;
  font-size: 10px !important;
}