.hourly-forecast {
  margin-top: 35px;

  &__title {
    font-weight: 600;
    font-size: 10px;
    padding-left: 25px;
  }
}
.recharts-text {
  font-weight: 500 !important;
  font-size: 10px !important;
}