.nature {
  padding-bottom: 48px;
  &__title {
    font-weight: 500;
    font-size: 20px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  &__swiper {
    width: 100%;
    max-width: 1100px;
  }
  &__slide {
    width: 384px !important;
    height: 211px !important;
    border-radius: 15px;
    overflow: hidden !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}