.nature {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
  }
  &__swiper {
    width: 100%;
    max-width: 1100px;
  }
  &__slide {
    width: 384px !important;
    height: 211px !important;
    border-radius: 15px;
    overflow: hidden !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
.swiper-slide-fully-visible {
  filter: none;
}