.pets {
  padding-bottom: 80px;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    width: 270px;
  }
  &__img {
    width: 100%;
    height: 208px;
    border-radius: 10px;
  }
  &__description {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
  }
  &__btn {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: $primary;
    font-family: "Montserrat Alternates";
    font-size: 10px;
  }
}