.weather {
  padding-top: 35px;
}

.swiper {
  overflow-y: visible !important;
}
.swiper-button-prev,
.swiper-button-next{
  width: 25px !important;
  color: $primary !important;
  & svg {
    width: 8px !important;
  }
}