.weather {
  padding-top: 35px;
}

.swiper {
  overflow-y: visible !important;
}
.swiper-button-prev,
.swiper-button-next{
  width: 25px !important;
  color: $primary !important;
  & svg {
    width: 8px !important;
  }
}

.weather-info {
  margin-top: 35px;

  &__list {
    padding: 35px 43px;
    background-color: $light-gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}