.week-forecast {
  padding-top: 35px;

  &__info-container {
    padding: 18px 25px 38px;
    background-color: $light-gray;
    border-radius: 15px;
  }

  &__title {
    font-weight: 600;
    font-size: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    column-gap: 43px;
    row-gap: 35px;
  }

  &__item {
    padding: 10px 18px 22px;
    font-weight: 500;
    font-size: 10px;
    background-color: $dark-gray;
    border-radius: 10px;
    flex-basis: calc((100% - 1 * 43px) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    margin-top: 20px;
  }
  &__description  {
    margin-top: 15px;
  }
}