.week-forecast {
  padding-bottom: 50px;

  &__info-container {
    padding: 18px 25px 38px;
    background-color: $light-gray;
    border-radius: 15px;
    @media screen and (min-width: 768px) {
      padding: 20px 35px 35px;
    }
    @media screen and (min-width: 1200px) {
      padding: 26px 77px 42px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 10px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    column-gap: 43px;
    row-gap: 35px;
    @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 17px;
    }
  }

  &__item {
    padding: 10px 18px 22px;
    font-weight: 500;
    font-size: 10px;
    background-color: $dark-gray;
    border-radius: 10px;
    flex-basis: calc((100% - 1 * 43px) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 986px;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      padding: 11px 15px;
      text-align: left;
    }
  }

  &__date,
  &__temp{
    font-size: 10px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__container {
    margin-top: 20px;
    @media screen and (min-width: 768px) {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media screen and (min-width: 120px) {
      width: 45px;
      height: 45px;
    }
  }
  &__description  {
    margin-top: 15px;
    font-size: 10px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
      margin: 0;
      font-size: 14px;
      justify-self: end;
      text-align: right;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
}