body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}
.link {
  text-decoration: none;
  color: #000;
}